<html>
<head>	
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script type="text/javascript" src="../Scripts/main.ctrl.js"></script>
  <link rel="stylesheet" href="../Content/Site.css" type="text/css">
</head>
<form name="main.addForm">
<div ng-app="myApp" ng-controller="listCtrl" ng-init="GetExpenses()"  id="TotalMargin">
		<div id="loginDiv">
					<div>	
						<label>Username</label>	   		
				   		<input type="text" ng-model="username" id="txbUsername" required>
				   	</div>
				   	<div>
				   		<label>Password</label>
				   		<input type="password" ng-model="password" id="txbPassword" required> 
				   	</div>
				   
			<input type="button" ng-click="VerifyCredentials()" id="VerifyMargin" value="Sign in">
		</div>

		<div id="contentDiv" style="display:none;" >	
		
			
			<span>Hi {{credentials[0]}},</span>		
			<a href="#" id="signoutLink" style="float:right" ng-click="DisplaySignin()" >Sign out</a>




				<div id="addDiv">
				<h1>Add new expense</h1>

								<div>
										   	<div id="Titles">
										   		<label>Expense title</label>
										   		<input type="text" ng-model="title" required>
										   	</div>
										   	<div id="Titles">
										   		<label>Amount</label>
										   		<input type="number" ng-model="amount" required> Rs.
										   	</div>
										   	<div id="Titles">
										   		<label>Date</label>
										   		<input type="date" ng-model="date" required>
										   	</div>
										   	<div id="Titles" style="margin-top:1.5em">
										   		<input type="button" ng-click="AddExpense()" value="Add">
										   	</div>
								</div>
						   			   		
						   		
						   	
					   
				</div>
				<br clear="all">
				<div >
			<h1>All expenses</h1>

				
					<label style="float:left;" ><font color="blue">Select to delete expense(s)</font></label>
					<input id="btnDelete" ng-click="DeleteEntry()"  type="button" style="float:left;height:2em;margin-left:10px;" value="Delete">

				
			<br clear="all" />


					<table>
						<tr style="font-weight:bold">
						<td></td>
						<td>Title</td>
						<td>Amount</td>
						<td>Date</td>
						</tr>
						<tr ng-repeat="expense in expenses | orderBy:'-Date'">
						<td><input type="checkbox" ng-model="expense.selected" ng-change="AddToArray(expense)" id="chkSelect"></td>
						<td><span>{{expense.Title}}</span></td>
						<td><span> {{expense.Amount}}Rs.</span></td>
						<td><span>   {{expense.Date}}</span></td>
						</tr>
					</table>
					</div>
		</div>			
</div>

</form>




</html>