<!DOCTYPE html>
<html ng-app="userApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Manage finances</title>
    <script src="../Scripts/angular.min.js"></script> 
    <script src="../Scripts/UserController.js"></script> 
</head>
<body>
    <form action="" name="myform">
    <div ng-controller="userController" class="form-horizontal">
        <div class="form-group">
            <label for="message" 
                   class="col-md-2 control-label">{{message}}</label>
        </div>
    </div>
        </form>
</body>
</html>
